input, textarea, .uneditable-input {
  width: 400px;
}

.help-block {
  font-size: 11px;
  line-height: 16px;
  color: #999;
}

.editable-item {
  line-height: 25px;
}

ul.tree-branch li {
  list-style-type: circle;
}
