.container {
  @include container;
  //@include showgrid;
}

$col-one-third: floor($blueprint-grid-columns / 3);
$col-two-thirds: ceil(2 * $blueprint-grid-columns / 3);

@mixin fullwidth {
  @include column($blueprint-grid-columns, true);
}

.top-testimonials {
  @include fullwidth;

  .header {
    @include column(5);
  }

  ul {
    @include column($blueprint-grid-columns - 5, true);
    
    li {
      @include column($blueprint-grid-columns - 5, true);
    
      .content {
        min-height: 50px;
        @include column($blueprint-grid-columns - 7, true);
        @include append(1);
      }
      
      .quotes.closing {
        @include last;
        @include push($blueprint-grid-columns - 6);
        margin-bottom: 0.09em;
      }
    }
  } 
}

.top-articles {
  @include fullwidth;
  
  .header {
    @include column(5);
  }

  ul {
    @include column($blueprint-grid-columns - 5, true);
    
    li {
      @include column($blueprint-grid-columns - 5, true);
      padding-bottom: 2em;
      
      .photo {
        @include column(2);
        height: floor(span(2)) - 2px;
        width: floor(span(2)) - 2px;
        overflow: hidden;
        @include border-radius(50%);
        border: 1px solid #ccc;
        
        img {
          width: floor(span(2));
          height: auto;
          border: 0;
        }
      }
      
      .text {
        @include column($blueprint-grid-columns - 7, true);
      }
    }
  }
}

.specimen-filters {
  @include fullwidth;

  .long-field {
    @include column($col-two-thirds, true);
    @include append($col-one-third);
  }
  
  .short-field {
    @include column($col-one-third);
    
    &.last {
      @include last;
    }
  }
  
  dd {
    margin: 0;
    padding: 0;
  }
  
  select {
    margin: 1px;
    width: 100%;
  }
  
  #keyword_field {
    dl, dt {
      @include column($col-one-third, true);
    }

    dd {
      @include column($col-one-third - 2);
      
      input {
        width: 100%;
      }
    }
    
    input.submit {
      @include column(2, true);
    }
  }  
}

#page-specimen {
  .content {
    @include column($blueprint-grid-columns - 4);
    @include prepend(2);
    
    img.photo {
      @include column(6);
      height: auto;
    }
    
    .properties {
      @include column($blueprint-grid-columns - 11);
      @include push(1);
    }
  }

  .top-articles {
    @include column($blueprint-grid-columns - 4);
    @include push(2);
    
    ul {
      @include column($blueprint-grid-columns - 9, true);
      
      li {
        @include column($blueprint-grid-columns - 9, true);
        
        .text {
          @include column($blueprint-grid-columns - 11, true);
        }
      }
    }
  }
}
  
#page-contacts {
  .contacts {
    @include column($col-two-thirds - 1);
    @include append(1);
  }

  .sidebar {
    @include column($col-one-third, true);
  }
}

#page-testimonials {
  li {
    @include fullwidth;
    padding-bottom: 0;
    
    .content {
      @include column($blueprint-grid-columns - 1, true);
    }
    
    .author {
      @include prepend(1);
      @include column($blueprint-grid-columns - 1, true);
      margin-bottom: 0;
    }
    
    .quotes.closing {
      @include push($blueprint-grid-columns - 1);
      margin-bottom: 0.09em;
    }
  } 
}

#page-articles {
  li {
    @include fullwidth;
    padding-top: 1em;
  
    .photo {
      @include column(6);
      
      img {
        width: floor(span(6));
        height: auto;
        @include photo-frame;
      }
    }
    
    .text {
      @include column($blueprint-grid-columns - 7, true);
      @include prepend(1);
    }
  }
}

#page-article .body {
  .link-container {
    display: inline-block;
    height: auto !important;
  }
  
  img {
    @include photo-frame;
    width: floor(span(6));
    height: auto;
  }
}
