$base-font-family: Georgia, "Times New Roman", serif;
$base-font-size: 16px;

$blueprint-font-family: $base-font-family;
$blueprint-font-size: $base-font-size;

@import "compass/typography";
@include blueprint-typography;

.page-content {
  padding-top: 1em;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.75em;
  color: $base-color;
  line-height: 1.5em;
}

ul.plain {
  @include no-bullets;
  padding: 0;
}

body {
  color: $text-color;
}

h3 a {
  color: $base-color;
  text-decoration: none;
}

a.summary {
  display: block;
  text-decoration: none;
  color: $text-color;
}

img.photo, .photo img {
  @include photo-frame;
}

.divlink {
  cursor: pointer;
  
  &:hover {
    color: $base-color;
    text-decoration: underline;
  }
}

.quotes {
  @include column(1);
  font-size: 64px;
  line-height: 24px;
  color: #B9B9BB;
  margin-bottom: 0.09em;
  padding-top: 0.3em;
  @include replace-text("testimonials-quotes.png", 0, 0.05em);
}

table {
  tr.even td {
    background-color: #f2f2f2;
  }
  tr.odd td {
    background-color: #ffffff;
  }
}

table.striped {
  tr:nth-child(even) td {
    background-color: #f2f2f2;
  }
  tr:nth-child(odd) td {
    background-color: #ffffff;
  }
}

td.caption {
  color: #727272;
}

.properties {
  td.value {
    @include better-helvetica;
    font-size: 14px;
    
    h3 {
      margin: 0;
      color: $base-color;
    }
    
    p {
      margin: 0;
    }
  }
}
    
.top-testimonials, .top-articles {
  border-top: 1px solid #d7d7d7;
  padding-top: 1em;

  .header a {
    @include link-colors(#8c8c8c);
  }
}

.top-testimonials {
  h2 {
    font-size: 30px;
    color: $base-color;
    text-transform: uppercase;
  }

  a {
    @include link-colors($text-color, $base-color);
  }
  
  .content {
    font-size: 14px;
  }
}

.top-articles {
  h2 {
    color: #3a3939;
    font-size: 30px;
    line-height: 32px;
    padding: 0;
    margin: 0 0 1em 0;
    text-transform: uppercase;

   .header-word-1 {
      display: block;
      color: $base-color;
      font-size: 16px;
      line-height: 18px;
      padding: 0;
      margin: 0;
    }
  }
  
  h3 {
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    margin: 0;
  }
  
  .summary {
    font-size: 12px;
    height: 55px;
    overflow: hidden;
  }
}

.english-version {
  @include leader(2);
  font-style: italic;
}

.epigraph {
  text-align: right;
  
  p {
    margin-bottom: 0.5em;
  }
}

.shorthtml {
  p, div {
    margin: 0;
    padding: 0;
  }
}

.random-stone {
  display: block;
  float: right;
  width: span(8);
  height: image-height('random-stone.png');
  overflow: hidden;
  position: relative;
  @include link-colors(#000);
  
  img {
    width: span(6);
    height: auto;
    margin-left: span(1) + $blueprint-grid-margin;
    margin-top: 24px;
  }
  
  .ramp {
    position: absolute;
    height: image-height('random-stone.png');
    width: image-height('random-stone.png');
    background: image-url('random-stone.png') top left no-repeat;
    z-index: 10;
  }
  
  .etiket {
    text-align: center;
    width: span(5);
    margin-left: (image-width('random-stone.png') - span(5))/2;
    margin-top: 215px;
  
    .name {
      font-size: 14px;
      text-decoration: underline;
      color: #000;
      margin-bottom: 4px;
    }
    
    .description {
      color: #5c5c5c;
      font-size: 13px;
      line-height: 14px;
    }
    
    .place {
      margin-top: 4px;
      font-size: 12px;
      line-height: 14px;
      color: 000;
      font-style: italic;
    }
  }
}

.specimen-groups {
  @include better-helvetica;
  color: #000;
  font-size: 12px;
  
  h3 {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: $base-color;
  }
  
  p {
    margin: 0;
    pattern: 0;
  }
  
  th {
    font-weight: normal;
    color: #6e6e6e;
    font-size: 14px;
  }
  
  td {
    img {
      width: span(3);
      height: auto;
    }
  }
  
  .name {
    font-size: 14px;
    text-decoration: underline;
    color: $base-color;
  }

  .photo p {
    color: #6e6e6e;
    font-size: 11px;
    text-align: center;
    text-decoration: underline;
  }
  
  td.photo {
    width: span(3);
  }
  
  .cell-name {
    width: span(4);
  }
  
  .cell-size {
    width: span(2);
  }
  
  .cell-deposits {
    width: span(4);
  }
  
  .cell-exposition {
    width: span(4);
  }
}

.specimen-filters {
  label {
    font-size: 14px;
    color: #666;
    font-weight: normal;
  }
  
  input, select {
    font-size: 16px;
    @include border-radius;
    /*
    height: 30px;
    color: #ffb818;
    background: #333;
    border: 1px solid #999;
    */
  }
  
  input {
    background-color: white;
    border: 1px solid #aaa;
    height: 20px;
  }
  
  input.submit {
    font-size: 14px;
    @include better-helvetica;
    height: 24px;
  }
}

#page-testimonials {
    .author {
      font-weight: bold;
      font-style: italic;
      color: #666;
    }
}

#page-expositions {
  ul {
    margin: 0;
  }
  
  li {
    @include no-bullets;
    
    &.level-1 {
      font-size: 24px;
      line-height: 36px;
      margin-top: 16px;
    }
  }
}