@(articles: List[Loaded[Article]])

@import views.html.layout._

@main("Статьи", Some("page-articles")) {
  <h1>Статьи</h1>
  @if(articles.isEmpty) {
    <p>Пока на сайте нет статей.<p>
  } else {
    <ul class="plain">
      @for(la <- articles) {
        <li>
          <a href="@routes.ArticlesController.show(la.id)" title="@la.value.title" class="photo">
            <img src="@la.value.image.value.url">
          </a>
          <div class="text">
            <h3><a href="@routes.ArticlesController.show(la.id)">@la.value.title</a></h3>
            <div class="summary divlink shorthtml" data-href="@routes.ArticlesController.show(la.id)">@Html(la.value.summary)</div>
          </div>
        </li>
      } 
    </ul>
  }
}