@()

<p>
Рассматривая образцы минералов на нашем сайте или на полках музея, подумайте какой огромный путь проделали эти экспонаты прежде,
чем попали к нам в музей. В Севастопольском музее камня вы увидите образцы из Австралии и Антарктиды, Чукотки и Якутии. На каких
только видах транспорта их ни везли: вертолетом и вездеходом, самолетом, поездом. Иногда камень добирался к нам морским путем,
пересекая океаны. Но начинался этот путь всегда с человеческих рук.</p>
<p>
Никто пока не может объяснить какая сила заставляет людей вновь и вновь отправляться на поиски камня. Они уезжают в далекие
путешествия, иногда трудные и рискованные. В шахты и на карьеры, в безводные пустыни и на горные осыпи прокладывают свои маршруты
искатели. И все это ради одного прекрасного момента – увидеть блеск кристалла в серой однообразной породе! Но вот найден достойный
образец. Теперь его надо осторожно, не повредив,  извлечь из породы, что часто бывает совсем не просто, аккуратно упаковать, и в
рюкзаке или в руках нести его многие километры. Когда вы любуетесь камнем, вспомните сколько сил было потрачено, чтобы просто
донести его до ближайшего транспорта или населенного пункта.</p>
<p>
Когда образец доставлен, вымыт и отпрепарирован, начинается его изучение, определение содержащихся в нем минералов. Для любителей
нет камня красивого и некрасивого, дорогого и дешевого: каждый прекрасен и уникален.</p>
<p>
В музее представлена систематическая коллекция минералов, а также стенд горных пород и палеонтологическая коллекция. Здесь есть
образцы со всего мира, но в основном все же из стран бывшего Советского Союза. Основной интерес представляют минералы и породы
Украины и Крыма.</p>
<p>
Мы будем признательны за любые исправления и добавления к имеющейся на сайте информации. В описании образцов для каждого мин. вида
указан код Никеля-Штрунца (Nickel-Strunz 10th edition)</p>
<p>
В Севастопольском музее камня представлена следующая коллекция минералов:</p>
 
<div class="english-version">
<p>
Examining mineral samples on our website or on the shelves of the museum, try to imagine  what a great way did these exhibits
made before they arrived here. In the Sevastopol Museum of Stone you will find samples from Australia and Antarctica, Chukotka
and Yakutia. They were delivered to us by various means of transportation:  helicopter and all-terrain vehicle, plane, ship and
train. But a journey has always started with human hands.</p>
<p>
No one can explain what makes people go searching for stones again and again. They set off on long journeys, sometimes difficult
and risky. The routes are often paved in mines and quarries, deserts and mountains. And all these efforts are made in order to
experience one beautiful moment - to see the crystal glitter in a gray monotonous breed! Finally, a decent sample is found! Now
it must be carefully removed from the rock, leaving it undamaged, neatly packaged, and carried in a backpack for miles. When
you admire a stone, think how much effort has been made to just bring it to the nearest transport or village.</p>
<p>
After the stone has been delivered, washed and prepared, the study and definition begins. For true stone lovers such words as
beautiful and ugly, expensive and cheap do not exist: each sample is lovely and unique.</p>
<p>
The Sevastopol museum of Stone houses a systematic collection of minerals, as well as rocks and fossil collection. There are
specimens from all around the world, but mainly from the former Soviet Union.</p>
<p>We will be grateful for any corrections and additions. In the description of the samples for each mineral a Nickel-Strunz
code is indicated (Nickel-Strunz 10th edition).</p>
<p>The Sevastopol Museum of Stone collection contains the following minerals:</p>
</div>