@()

<blockquote class="epigraph"><p>"Чему бы жизнь нас ни учила,<br>
Но сердце верит в чудеса:<br>
Есть нескудеющая сила,<br>
Есть и нетленная краса".</p>
<p class="author">Федор Тютчев</p></blockquote>

<p>Камень окружает нас повсюду: это твердь земная, горы и скалы, пляжи и равнины. Из камня построены наши дороги и города.
Многие из окружающих нас предметов добыты из недр земных: стройматериалы и металлы, стекло и фарфор. И даже вездесущий пластик
 – продукт переработки нефти.</p>
<p>Казалось бы, мы все  знаем о камне – таком обычном и привычном материале. Но иногда поднимешь кусочек щебня или гальку и
замираешь в восхищении: такая перед тобой открывается красота: тут и фантастические переливы цвета, удивительные узоры,  игра 
граней, и безупречность форм! Не верится, что это совершенство – создание природы. Так человек начинает интересоваться камнем,
читать, искать интересные образцы, изучать коллекции музеев. Постепенно перед ним открывается огромный мир. И чем глубже он
погружается в этот мир, тем больше возникает вопросов и загадок.</p>
<p>Для некоторых изучение камня становится профессией, одной из самых романтических и уважаемых в современном обществе. Геолог
владеет уникальными знаниями, он способен понять и объяснить бесконечное разнообразие каменного мира, найти в нем закономерности.
В нашем представлении работа геолога всегда связана с поездками в дальние страны, туда, где еще не ступала нога человека. Потому
что где еще можно найти такие необычные камни? - Конечно же в далеких неизведанных землях! И откровением для многих становится то,
что удивительное очень часто буквально лежит у вас под ногами, надо только уметь это увидеть.</p>
<p>К сожалению, в большинстве своем мы не владеем основами минералогии, нет этого курса и в школьных программах. А в царской России
минералогию изучали в гимназиях, т.к. считалось, что образованный человек должен обладать этими знаниями. Для того, чтобы восполнить
этот образовательный пробел, и был создан наш Музей камня в Севастополе.</p>
<p>Изучать минералогию можно только имея перед глазами  коллекцию. В нашем музее мы попытались собрать не только образцы из разных
стран, но и показать богатства Украины и Крыма. Для истинного ценителя камня простая кальцитовая щетка с отвалов Балаклавского
карьера порой дороже африканских сапфиров и австралийских опалов. Главное - открытие мира минералов, сохранение образцов от
природного или техногенного уничтожения.</p>
<p>Приходите в Музей камня, и вы всегда найдете здесь что-то новое для себя, ведь каждый, даже самый простой, камень уникален, и
другого такого в природе нет.</p>
<p>Сайт создан и поддерживается Ириной Руденко и Александром Тищенко. О строительстве музея можно прочесть в статье "Стройка века".
ГОТОВИТСЯ К ПУБЛИКАЦИИ "МИНЕРАЛОГИЧЕСКИЙ СЛОВАРЬ КРЫМА".</p>

<div class="english-version">
  <p>Stone is all around us: in the solid earth, mountains and cliffs, beaches and fields. Our roads and cities are built of stone.
  Many of the objects surrounding us are mined from the bowels of the earth: construction materials and metals, glass and porcelain.
  Even plastic is a product of oil refining.</p><p>It would seem that we know all about stone - such a conventional and familiar
  material. But sometimes you pick up a piece of gravel or a pebble and almost freeze in admiration: such a beauty appears before you!
  Fantastic colors, amazing patterns and forms of perfection are discovered in this tiny piece of stone. It is hard to believe that
  this perfection is a creation of nature.Then a person becomes interested in stone - reads about it, searches for interesting patterns,
  studies museum collections. Gradually, a vast new world appears. And the more we explore this world, the more questions and mysteries
  arise.</p>
  <p>For some people the study of stone becomes a profession - one of the most romantic and respected in today's society. Geologists
  have a very unique knowledge, they are able to understand and explain the infinite variety of the stone world. The work of geologist
  is always associated with hard expeditions to distant lands, where no man has stepped before. In fact, very often mysterious surprises
  are literally under your feet, you just need to be able to see them.</p><p>Unfortunately, most of us are not familiar with the basics
  of mineralogy; we do not study this course in our school programs. In imperial Russia mineralogy was taught in public schools, as it
  was believed that an educated person should possess this knowledge. Our desire and ambition is to cover this educational gap, for
  this purpose the Museum of Stone in Sevastopol was created.</p>
  <p>In our museum we have tried to collect various samples from different countries, along with an interesting collection of local
  minerals that demonstrates the great wealth of Ukraine and Crimea peninsular.</p> 
  <p>Come to the Museum of Stone, and you will definitely find something new for yourself. Every stone, even the simplest one, is a
  unique specimen of nature.</p>
</div>
