@(title: String, withBootstrap: Boolean = false)(content: Html)
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->  
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        @* TODO: extract site title into val *@
        <title>@title. Севастопольский музей камня</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="@routes.Assets.at("css/screen.css")">
        <link rel="stylesheet" href="@routes.Assets.at("css/print.css")">
        <!--[if lt IE 8]>
          <link rel="stylesheet" href="@routes.Assets.at("css/ie.css")">
        <![endif]-->
        @if(withBootstrap){
          <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")">
          <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap-theme.min.css")">
        }

        <script src="@routes.Assets.at("js/vendor/modernizr-2.6.2-respond-1.1.0.min.js")"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="header-wrapper">
          <div class="header-top">
            <header class="container">
              <div class="logo">
                <img src="@routes.Assets.at("img/logo.png")" alt="Севастопольский музей камня">
              </div>
              <div class="nav-container">
                <div class="search-form">
                  <form action="@routes.ApplicationController.todo" method="GET">
                    <input type="text" id="query" name="query" placeholder="Поиск в музее...">
                    <input type="submit" value="Найти">
                  </form>
                </div>
                <nav>
                  <ul>
                    <li><a href="@routes.ApplicationController.home">Главная</a></li>
                    <li><a href="@routes.ApplicationController.todo">Коллекция музея</a></li>
                    <li><a href="@routes.ApplicationController.todo">Экспозиции</a></li>
                    <li><a href="@routes.ApplicationController.todo">Статьи</a></li>
                    <li><a href="@routes.ApplicationController.todo">Отзывы</a></li>
                    <li><a href="@routes.ApplicationController.contacts">Контакты</a></li>
                  </ul>
                </nav>
              </div>
            </header>
          </div>
          <div class="breadcrumbs container">
            @* TODO: probably need a better way to manage breadcrumbs *@
            <a class="breadcrumb" href="@routes.ApplicationController.home">Главная</a>/<span class="breadcrumb-current">@title</span>
          </div>
        </div>
       
        <div class="wrapper">
          <div class="page-content container">
            @content
          </div>
        </div>
    
        <div class="footer-wrapper">
		      <footer class="container">
            <div class="logo">
              <img src="@routes.Assets.at("img/logo-grey.png")" alt="Севастопольский музей камня">
            </div>
		        @* TODO: use current year *@
		        <div class="disclaimers">
              <p class="copyright">&copy; 2012-2014 Севастопольский музей камня</p>
              <p>Копирование материалов сайта возможно только с письменного разрешения и с установкой обратной ссылки</p>
	          </div>
	        </footer>
	      </div>
    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="@routes.Assets.at("js/vendor/jquery-1.10.2.min.js")"><\/script>')</script>
        @if(withBootstrap){
          <script src="@routes.Assets.at("js/vendor/bootstrap.min.js")"></script>
        }
        <script src="@routes.Assets.at("js/main.js")"></script>
        <script>
									var _gaq = [
											[ '_setAccount', 'UA-XXXXX-X' ],
											[ '_trackPageview' ] ];
									(function(d, t) {
										var g = d.createElement(t), s = d
												.getElementsByTagName(t)[0];
										g.src = '//www.google-analytics.com/ga.js';
										s.parentNode.insertBefore(g, s)
									}(document, 'script'));
								</script>
    </body>
</html>
