@(testimonials: List[Loaded[Testimonial]])

@if(!testimonials.isEmpty) {
  <div class="top-testimonials">
    <div class="header">
      <h2>Отзывы</h2>
      <a href="@routes.ApplicationController.testimonials">все отзывы</a>
    </div>

    <ul class="plain">
      @for(t <- testimonials) {
        <li>
          <div class="divlink" data-href="@{routes.ApplicationController.testimonials}#t@t.id">
            <p class="quotes">&quot;</p>
            <div class="content shorthtml">@Html(t.value.text)</div>
            <p class="quotes closing">&quot;</p>
          </div>
        </li>
      }
    </ul>
  </div>
}

