@(categoryForm:Form[models.NewCategory], possibleParents: List[models.Category], saveCaption: String, action: Call, args: (Symbol, String)*)

@import helper._
@import helper.twitterBootstrap._

<div class="row">
  @form(action, args:_*) {
    @inputText(categoryForm("title"), '_label -> "Название")
    <div class="chosen">
      @select(categoryForm("parentId"), Seq(("", "- без родителя -")) ++ possibleParents.map(p => (p.id.toString, p.title)), '_label -> "Родитель", 'class -> "chzn-select")
    </div>
    @inputText(categoryForm("sortPriority"), '_label -> "Приоритет")
    <input type="submit" class="btn btn-primary" value="@saveCaption">
    <a class="btn" href="@controllers.edit.routes.CategoriesController.indexTree()">Отмена</a>
  }
</div>
