@(model: HomeViewModel)

@import views.html.layout._

@main(""){
  
  @* articles *@
  @if(!model.latestArticles.isEmpty) {
	  <hr>
	  <h2>Интересные статьи</h2>
	  <ul>
		  @for(a <- model.latestArticles) {
		    <li>@Html(a.value.summary)</li>
		  }
	  </ul>
	  <a href="#">все отзывы</a>
  }
  
  @* testimonilals *@
  @if(!model.latestTestimonials.isEmpty) {
	  <hr>
	  <h2>Отзывы</h2>
	  <ul>
		  @for(t <- model.latestTestimonials) {
		    <li>@Html(t.value.text)</li>
		  }
	  </ul>
	  <a href="#">все отзывы</a>
  }
}
