// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
@import "blueprint/scaffolding";

@import "compass/utilities/tables";
@import "compass/css3";

$legacy-support-for-ie: true;
$default-border-radius: 4px;

$base-color: #00629C;
$base-color-back: #051029;
$text-color: #333;

$base-color-border: lighten(desaturate($base-color, 30%), 50%);

@include blueprint-utilities;
@include blueprint-debug;
@include blueprint-interaction;
// Remove the scaffolding when you're ready to start doing visual design.
// Or leave it in if you're happy with how blueprint looks out-of-the-box
@include blueprint-scaffolding;

@import "partials/mixins";
@import "partials/typography";
@import "partials/frame";
@import "partials/form";
@import "partials/grid";

.container {
  //@include showgrid;
}

.specimen-groups {
  @include better-helvetica;
  color: #000;
  font-size: 12px;
  
  h3 {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: $base-color;
  }
  
  p {
    margin: 0;
    pattern: 0;
  }
  
  th {
    font-weight: normal;
    color: #6e6e6e;
    font-size: 14px;
  }
  
  td {
    img {
      width: span(3);
      height: auto;
    }
  }
  
  .name {
    font-size: 14px;
    text-decoration: underline;
    color: $base-color;
  }

  .photo p {
    color: #6e6e6e;
    font-size: 11px;
    text-align: center;
    text-decoration: underline;
  }
  
  td.photo {
    width: span(3);
  }
  
  .cell-name {
    width: span(4);
  }
  
  .cell-size {
    width: span(2);
  }
  
  .cell-deposits {
    width: span(4);
  }
  
  .cell-exposition {
    width: span(4);
  }
}