@(expoForm:Form[models.Exposition], possibleParents: List[models.Exposition], saveCaption: String, action: Call, args: (Symbol, String)*)

@import helper._
@import helper.twitterBootstrap._

<div class="row">
  @form(action, args:_*) {
    <input type="hidden" id="id" name="id" value='@expoForm("id")'></input>
    @inputText(expoForm("title"), '_label -> "Название")
    <div class="chosen">
      @select(expoForm("parentId"), Seq(("", "- без родителя -")) ++ possibleParents.map(p => (p.id.toString, p.title)), '_label -> "Родитель", 'class -> "chzn-select")
    </div>
    @inputText(expoForm("sortPriority"), '_label -> "Приоритет")
    @textarea(expoForm("description"), '_label -> "Описание", 'rows -> 20, 'class -> "richedit")
    <input type="submit" class="btn btn-primary" value="@saveCaption">
    <a class="btn" href="@controllers.edit.routes.ExpositionsController.indexTree()">Отмена</a>
  }
</div>
